<!-- Carbon Standard Title and Legend -->
<header class="flex flex-col lg:flex-row justify-between leading-tight lg:items-center py-4 px-4 gap-2 lg:gap-0 bg-white dark:bg-black/30">
  <h2 class="text-2xl lg:text-3xl font-medium">Technology Carbon Standard</h2>
  <div class="flex flex-col gap-1">
    <div class="flex h-8 gap-2 items-center">
      <div class="relative h-full w-24 flex border border-white rounded overflow-hidden">
        <div class="cat-u size-full"></div>
        <div class="cat-o size-full"></div>
        <div class="cat-g size-full"></div>
        <div class="cat-c size-full"></div>
        <div class="cat-d size-full"></div>
        <div class="absolute left-1/2 transform -translate-x-1/2 text-white">Category</div>
      </div>
      <div class="h-8">Carbon Standard Category</div>
    </div>
    <div class="flex h-8 gap-2">
      <div class="flex items-center justify-center w-24 h-full bg-charcoal-50 rounded border border-white font-medium text-sm dark:text-charcoal">1/2/3</div>
      <div>GHG Protocol Scope</div>
    </div>
  </div>
</header>

<div class="flex flex-col lg:flex-row not-prose">

  <!-- UPSTREAM EMISSIONS -->
  <div class="flex flex-col lg:w-1/4">
    <div class="flex">
      <div class="grow flex flex-col justify-center h-[4rem] px-2 py-2 cat-u">
        <div class="relative">
          <h3 class="pl-2 mb-0 text-xl font-medium text-white"><a class="text-inherit hover:text-inherit hover:opacity-80" href="/categories/upstream">Upstream Emissions</a></h3>
          <div class="absolute right-0 top-8">
            {% include categoryLabel.html label="CatU" %}
          </div>
        </div>
      </div>
      <!-- ARROW RIGHT: hidden on smaller screens -->
      <div class="hidden lg:block w-0 h-0 z-10 cat-u-arrow-right"></div>
    </div>
    <div class="h-full lg:mr-[2rem] px-4 pt-4 pb-2 cat-u-body">
      <p>Upstream emissions relating to the embodied carbon of hardware and the development of software.</p>

      <h4 class="mt-4 mb-2 text-lg font-medium">Software</h4>
      {% include categoryItem.html item="CatUSoftware" %}

      <h4 class="mt-4 mb-2 text-lg font-medium">Hardware Manufacture, Transport and Installation</h4>
      {% include categoryItem.html item="CatUEmployeeHardware" %}
      {% include categoryItem.html item="CatUNetworkHardware" %}
      {% include categoryItem.html item="CatUServerHardware" %}
    </div>
    <!-- ARROW DOWN: visible on smaller screens -->
    <div class="w-full lg:hidden h-0 cat-u-arrow-down"></div>
  </div>

  <!-- OPERATIONAL EMISSIONS -->
  <div class="flex flex-col lg:w-2/4">
    <div class="flex">
      <div class="grow flex flex-col justify-center h-[4rem] lg:-ml-[2rem] px-2 py-2 cat-o">
        <h3 class="lg:pl-[3rem] mb-0 text-xl font-medium"><a class="text-inherit hover:text-inherit hover:opacity-80" href="/categories/operational">Operational Emissions</a></h3>
      </div>
      <!-- ARROW RIGHT: hidden on smaller screens -->
      <div class="hidden lg:block w-0 h-0 z-10 cat-o-arrow-right"></div>
    </div>
    <div class="h-full lg:-ml-[2rem] lg:mr-[2rem] px-4 pt-4 pb-2 cat-o-body">
      <p>Operational emissions are associated to the running of business IT functions and systems. Each operational function may have a hybrid of IT infrastructure across direct and/or indirect emissions.</p>

      <div class="flex flex-col lg:flex-row gap-4 mt-4">

        <!-- DIRECT (Category O) -->
        <div class="relative px-2 py-2 border-2 border-white rounded-md">
          <h4 class="mb-2 text-lg font-medium">Direct</h4>
          <div class="absolute right-2 -top-2">
            {% include categoryLabel.html label="CatO" %}
          </div>
          <p class="mb-2">Direct running costs that are attributed to the electricity powering servers, networks and devices.</p>
          {% include categoryItem.html item="CatOUserDevices" %}
          {% include categoryItem.html item="CatONetworkDevices" %}
          {% include categoryItem.html item="CatOServers" %}

          <!-- DIRECT (Category G) -->
          <div class="relative">
            <hr class="border-white mb-2">
            <div class="absolute right-2 -top-2">
              {% include categoryLabel.html label="CatG" %}
            </div>
            {% include categoryItem.html item="CatGGenerators" %}
          </div>
        </div>

        <!-- INDIRECT (Category C) -->
        <div class="relative px-2 py-2 border-2 border-white rounded-md">
          <h4 class="mb-2 text-lg font-medium">Indirect</h4>
          <div class="absolute right-2 -top-2">
            {% include categoryLabel.html label="CatC" %}
          </div>
          <p class="mb-2">Indirect running carbon costs that are attributed to external hardware and service solutions.</p>
          {% include categoryItem.html item="CatCCloud" %}
          {% include categoryItem.html item="CatCSaas" %}
          {% include categoryItem.html item="CatCManaged" %}
        </div>
      </div>
    </div>

    <!-- ARROW DOWN: visible on smaller screens -->
    <div class="w-full lg:hidden h-0 cat-o-arrow-down"></div>
  </div>

  <!-- DOWNSTREAM EMISSIONS -->
  <div class="flex flex-col lg:w-1/4">
    <div class="flex">
      <div class="grow flex flex-col justify-center h-[4rem] lg:-ml-[2rem] px-2 py-2 cat-d">
        <div class="relative">
          <h3 class="lg:pl-[3rem] mb-0 text-xl font-medium"><a class="text-inherit hover:text-inherit hover:opacity-80" href="/categories/downstream">Downstream Emissions</a></h3>
          <div class="absolute right-0 top-8">
            {% include categoryLabel.html label="CatD" %}
          </div>
        </div>
      </div>
    </div>
    <div class="h-full lg:-ml-[2rem] px-4 pt-4 pb-2 cat-d-body">
      <p>Carbon associated with the use of products and services produced by the business.</p>

      <h4 class="mt-4 mb-2 text-lg font-medium">End Use (B2B, B2C)</h4>
      {% include categoryItem.html item="CatDEndUserDevices" %}
      {% include categoryItem.html item="CatDNetworkDataTransfer" %}
      {% include categoryItem.html item="CatDInfrastructure" %}
    </div>
  </div>

</div>

<div class="flex justify-center items-center px-4 py-4 mt-2 lg:mt-0 bg-black/25 dark:bg-black/25">
  <div>
    <h4 class="mb-2 text-lg font-medium">Out of Scope</h4>
    <div class="flex items-center gap-2">
      <div class="flex justify-center items-center size-12 bg-charcoal-600 dark:bg-charcoal-800">
        <svg aria-hidden="true" class="w-8 h-8 fill-white"><use href="/assets/images/icons.svg#groups"></use></svg>
      </div>
      <div class="flex justify-center items-center size-12 bg-charcoal-600 dark:bg-charcoal-800">
        <svg aria-hidden="true" class="w-8 h-8 fill-white"><use href="/assets/images/icons.svg#domain"></use></svg>
      </div>
      <div class="flex justify-center items-center size-12 bg-charcoal-600 dark:bg-charcoal-800">
        <svg aria-hidden="true" class="w-8 h-8 fill-white"><use href="/assets/images/icons.svg#commute"></use></svg>
      </div>
      People, Buildings and Travel
    </div>
  </div>
</div>

<div class="flex justify-end px-2 pt-2 bg-black/5">
  {% include creativeCommons.html %}
</div>