{% assign id = include.id %}
{% assign item = include.item %}
{% assign title = site.data.categoryItems[item].title %}
{% assign icon = site.data.categoryItems[item].icon %}
{% assign category = site.data.categoryItems[item].category %}

{% if include.description %}
  {% assign description = include.description %}
{% else %}
  {% assign description = site.data.categoryItems[item].description %}
{% endif %}

{% if include.link %}
  {% assign link = include.link %}
{% else %}
  {% assign link = site.data.categoryItems[item].link %}
{% endif %}

<div class="my-2">
  {% if include.noLink == true %}
    <div id="{{ id }}" class="flex gap-2 {% if description %}items-start{% else %}items-center{% endif %}{% if include.selected %} bg-white/80{% endif %}">
  {% else %}
    <a id="{{ id }}" href="{{ link }}" aria-label="{{ title }}" class="flex gap-2 no-underline text-inherit hover:bg-white/30 {% if description %}items-start{% else %}items-center{% endif %}{% if include.selected %} bg-white/80{% endif %}">
  {% endif %}

    <div class="flex justify-center {% if description %}items-start self-stretch py-1{% else %}h-12 items-center{% endif %} w-12 min-h-12 {{ category }}">
      <svg aria-hidden="true" class="size-8 fill-white"><use href="{{ icon | prepend: "/assets/images/icons.svg#" }}"></use></svg>
    </div>
    <div class="flex-1 leading-tight {% if description %}py-1{% endif %}">
      <div class="font-medium">{{ title }}</div>
      <div class="font-light text-sm">{{ description }}</div>
    </div>

  {% if include.noLink == true %}
    </div>
  {% else %}
    </a>
  {% endif %}
</div>