{% assign label = include.label %}
{% assign title = site.data.categoryLabels[label].title %}
{% assign scope = site.data.categoryLabels[label].GHGScope %}
{% assign colour = site.data.categoryLabels[label].category %}

<div class="inline-flex items-baseline {{ colour }} border border-white rounded text-sm">
  <div class="px-3 py-1 text-white">
    {{ title }}
  </div>
  {% if scope %}
    <div class="flex justify-center w-6 py-1 font-medium bg-charcoal-50 text-charcoal">
      {{ scope }}
    </div>
  {% endif %}
</div>