<div class="flex flex-col sm:flex-row justify-between items-baseline gap-4">
  <div class="flex flex-col sm:w-1/2">
    <span>Contact us at:</span>
    <span>
      <a class="text-inherit hover:text-blue-300" href="mailto:sustainability@scottlogic.com?subject=Tech%20Carbon%20Standard%20Enquiry" target="_blank" rel="noopener">sustainability@scottlogic.com</a>
    </span>
  </div>
  <div class="sm:w-1/2">
    {% include creativeCommons.html %}
  </div>
</div>
<div class="flex flex-col sm:flex-row justify-between items-baseline gap-4">
  </br>
  Scott Logic Limited is a company registered in England and Wales (company number: 05377430) whose address is at 6th Floor The Lumen, St James Boulevard, Newcastle Helix, Newcastle upon Tyne, NE4 5BZ. VAT No: 866105130
  </br>© 2024. Scott Logic Limited
</div>
