{% assign currentNavigation = site.data.navigation | reverse | find_exp: "item", "page.url contains item.link" %}
<div class="container max-w-7xl mx-auto w-full flex px-2 pt-4 pb-4 sm:pb-0 items-center space-x-4 justify-start">

  <button id="menu-button" type="button" class="sm:hidden" aria-expanded="false" aria-label="open menu">
    <svg id="menu-icon" aria-hidden="true" class="size-8 fill-cambridge-50 hover:fill-cambridge-400"><use href="/assets/images/icons.svg#menu"></use></svg>
    <svg id="close-icon" aria-hidden="true" class="hidden size-8 fill-cambridge-50 hover:fill-cambridge-400"><use href="/assets/images/icons.svg#close"></use></svg>
  </button>

  <!-- LOGO -->
  <a class="flex items-center space-x-4 no-underline" aria-label="Tech Carbon Standard home page" href="/">
    <svg aria-hidden="true" class="size-12 sm:mb-4 fill-cambridge-300 hover:fill-cambridge-400"><use href="/assets/images/icons.svg#tcs-logo"></use></svg>
    <span class="sm:hidden text-lg text-cambridge-50 dark:text-cambridge-300 hover:text-cambridge-300 focus:outline-none focus-visible:ring focus:ring-blue">Technology Carbon Standard</span>
  </a>

  <div class="hidden flex-grow sm:flex flex-col">
    <div class="flex space-x-6">
      {% for item in site.data.navigation %}
        <div class="group/nav relative">      
          <a href="{{ item.link }}" class="h-12 no-underline pb-[18px] border-b-4 {% if item.name == currentNavigation.name %}text-cambridge-100 border-b-4 border-cambridge-400 dark:border-cambridge-600 dark:text-cambridge-100{% else %} text-cambridge-100 dark:text-cambridge-300 border-gunmetal-800 dark:border-gunmetal-900{% endif %} hover:text-cambridge-300 focus:outline-none focus-visible:ring focus:ring-blue">
            {{ item.name }}
          </a>
          {% if item.sublinks %}
            <div class="min-w-full absolute top-[43px] invisible opacity-0 group-focus-within/nav:visible group-hover/nav:visible group-focus-within/nav:opacity-100 group-hover/nav:opacity-100 bg-gunmetal-700 dark:bg-gunmetal-800 transition-opacity">
              <div class="flex flex-col px-2 py-2 items-start justify-start">                
                  {% for subItem in item.sublinks %}
                  <a href="{{ subItem.link }}" class="no-underline w-full p-2 {% if page.url contains subItem.link %} text-gunmetal-100 border-b-4 border-cambridge-400 dark:border-cambridge-600 dark:text-cambridge-100{% else %} text-gunmetal-100 dark:text-gunmetal-300{% endif %} hover:text-gunmetal-300 focus:outline-none focus-visible:ring focus:ring-blue">
                    {{ subItem.name }}
                  </a>
                  {% endfor %}
              </div>
            </div>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>

  <a class="my-auto" aria-label="GitHub" href="https://github.com/ScottLogic/Technology-Carbon-Standard">
    <svg aria-hidden="true" class="size-8"><use href="/assets/images/icons.svg#github"></use></svg>
  </a>
</div>

<!-- MOBILE MENU -->
<div id="mobile-menu" class="hidden sm:hidden">
  <div class="space-y-1 px-2 py-2">
    {% for item in site.data.navigation %}
      
      {% if item.sublinks %}
        <div class="grid grid-cols-[auto_50px] items-center">
          <a href="{{ item.link }}" class="block no-underline px-2 {% if page.url == item.link %}text-cambridge-100 dark:text-cambridge-100{% else %} text-cambridge-100 dark:text-cambridge-300{% endif %} hover:text-cambridge-300 focus:outline-none focus-visible:ring focus:ring-blue">
            {{ item.name }}
          </a> 
           <button class="expand-button justify-self-center" type="button" aria-expanded="false" aria-label="expand section">
            <svg aria-hidden="true" class="expand-icon size-6 fill-cambridge-50 hover:fill-cambridge-400"><use href="/assets/images/icons.svg#expand"></use></svg>
            <svg aria-hidden="true" class="collapse-icon hidden size-6 fill-cambridge-50 hover:fill-cambridge-400"><use href="/assets/images/icons.svg#collapse"></use></svg>
          </button>
          <div class="expand-block col-span-2 ml-4 hidden">
            {% for subItem in item.sublinks %}
              <a href="{{ subItem.link }}" class="block no-underline px-2 {% if page.url == subItem.link %}text-cambridge-100 dark:text-cambridge-100{% else %} text-cambridge-100 dark:text-cambridge-300{% endif %} hover:text-cambridge-300 focus:outline-none focus-visible:ring focus:ring-blue">
                {{ subItem.name }}
              </a>
            {% endfor %}
          </div>
        </div>
        {% else %}
        <a href="{{ item.link }}" class="block no-underline px-2 {% if page.url == item.link %}text-cambridge-100 dark:text-cambridge-100{% else %} text-cambridge-100 dark:text-cambridge-300{% endif %} hover:text-cambridge-300 focus:outline-none focus-visible:ring focus:ring-blue">
          {{ item.name }}
        </a> 
      {% endif %}
    {% endfor %}
  </div>
</div>


<script>
  const menuButton = document.getElementById('menu-button');
  const mobileMenu = document.getElementById('mobile-menu');
  const menuIcon = document.getElementById('menu-icon');
  const closeIcon = document.getElementById('close-icon');
  menuButton.addEventListener('click', function() {
    const buttonAriaLabel = menuButton.getAttribute('aria-label');
    if (buttonAriaLabel == 'open menu') {
      menuButton.setAttribute('aria-label', 'close menu');
    } else {
      menuButton.setAttribute('aria-label', 'open menu');
    }
    mobileMenu.classList.toggle('hidden');
    menuIcon.classList.toggle('hidden');
    closeIcon.classList.toggle('hidden');
  });
  const expandButtons = document.querySelectorAll('.expand-button');
  expandButtons.forEach(button => {
    button.addEventListener('click', function() {
    const buttonAriaLabel = button.getAttribute('aria-label');
    if (buttonAriaLabel == 'expand section') {
      button.setAttribute('aria-label', 'collapse section');
      button.setAttribute('aria-expanded', 'true');
    } else {
      button.setAttribute('aria-label', 'expand section');
      button.setAttribute('aria-expanded', 'false');
    }
      const expandIcon = button.querySelector('.expand-icon');
      const collapseIcon = button.querySelector('.collapse-icon');
      const expandBlock = button.nextElementSibling;
      expandBlock.classList.toggle('hidden');
      expandIcon.classList.toggle('hidden');
      collapseIcon.classList.toggle('hidden');
    });
  });
</script>
