---
---

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 16px;
    scrollbar-gutter: stable;
  }

  body {
    overflow-y: scroll;
  }

  a {
    @apply underline text-blue-600 hover:text-blue-800 focus:outline-none focus-visible:ring focus:ring-blue dark:text-blue-300 dark:hover:text-blue-100;
  }

  /* CATEGORY U */
  .cat-u {
    @apply bg-blue dark:bg-blue-700 text-white;
  }
  .cat-u-body {
    @apply bg-blue-200 dark:bg-blue-600 text-charcoal dark:text-white;
  }
  .cat-u-arrow-right {
    @apply border-t-[2rem] border-l-[2rem] border-b-[2rem] border-transparent border-l-blue dark:border-l-blue-700;
  }
  .cat-u-arrow-down {
    @apply border-t-[2rem] border-l-[6rem] border-r-[6rem] border-transparent border-t-blue dark:border-t-blue-700;
  }

  /* CATEGORY O */
  .cat-o {
    @apply bg-purple-600 dark:bg-purple-800 text-white;
  }
  .cat-o-body {
    @apply bg-purple-300 dark:bg-purple-700 text-charcoal dark:text-white;
  }
  .cat-o-arrow-right {
    @apply border-t-[2rem] border-l-[2rem] border-b-[2rem] border-transparent border-l-purple-600 dark:border-l-purple-800;
  }
  .cat-o-arrow-down {
    @apply border-t-[2rem] border-l-[6rem] border-r-[6rem] border-transparent border-t-purple-600 dark:border-t-purple-800;
  }

  /* CATEGORY C */
  .cat-c {
    @apply bg-purple-800 dark:bg-purple-950 text-white;
  }

  /* CATEGORY G */
  .cat-g {
    @apply bg-charcoal-800 dark:bg-charcoal-950 text-white;
  }

  /* CATEGORY D */
  .cat-d {
    @apply bg-cambridge-500 dark:bg-cambridge-800 text-white;
  }
  .cat-d-body {
    @apply bg-cambridge-200 dark:bg-cambridge-700 text-charcoal dark:text-white;
  }
}
