---
layout: default
---

<div class="flex flex-col md:flex-row gap-6">
  <aside class="md:w-1/5 border-b md:border-r md:border-b-0 border-gunmetal-200 pr-2 pb-2 pt-0">
    <a href="/overview" class="font-light block px-2 hover:bg-gunmetal-100 dark:hover:bg-gunmetal-900  {% if page.url == '/overview' %}text-cambridge-600 dark:text-cambridge-100 font-semibold{% endif %}">Life Cycle Emissions</a>

    <a href="/estate" class="font-light block px-2 hover:bg-gunmetal-100 dark:hover:bg-gunmetal-900  {% if page.url == '/estate' %}text-cambridge-600 dark:text-cambridge-100 font-semibold{% endif %}">Understanding Estate Emissions</a>

    <a href="/categories" class="font-light block px-2 hover:bg-gunmetal-100 dark:hover:bg-gunmetal-900  {% if page.url == '/categories' %}text-cambridge-600 dark:text-cambridge-100 font-semibold{% endif %}">Impact Categories</a>

    <div class="flex flex-col">
      {% for category in site.data.categories %}
        <a href="{{ category.link }}" class="font-light px-4 hover:bg-gunmetal-100 dark:hover:bg-gunmetal-900 {% if page.url == category.link %}text-cambridge-600 dark:text-cambridge-100 font-semibold{% endif %}">
          {{ category.name }}
        </a>
        {% if category.subcategories %}
          <div class="ml-4">
            {% for subcategory in category.subcategories %}
              <div class="flex flex-col">
                <a href="{{ subcategory.link }}" class="font-light px-4 hover:bg-gunmetal-100 dark:hover:bg-gunmetal-900 {% if page.url == subcategory.link %}text-cambridge-600 dark:text-cambridge-100 font-semibold{% endif %}">
                  {{ subcategory.name }}
                </a>
                {% if subcategory.subcategories %}
                  <div class="ml-4">
                    {% for subcategory in subcategory.subcategories %}
                      <div class="flex flex-col">
                        <a href="{{ subcategory.link }}" class="font-light px-4 hover:bg-gunmetal-100 dark:hover:bg-gunmetal-900 {% if page.url == subcategory.link %}text-cambridge-600 dark:text-cambridge-100 font-semibold{% endif %}">
                          {{ subcategory.name }}
                        </a>
                        {% if subcategory.subcategories %}
                          <div class="ml-4">
                            {% for subcategory in subcategory.subcategories %}
                              <div class="flex flex-col">
                                <a href="{{ subcategory.link }}" class="font-light px-4 hover:bg-gunmetal-100 dark:hover:bg-gunmetal-900 {% if page.url == subcategory.link %}text-cambridge-600 dark:text-cambridge-100 font-semibold{% endif %}">
                                  {{ subcategory.name }}
                                </a>
                              </div>
                            {% endfor %}
                          </div>
                        {% endif %}
                      </div>
                    {% endfor %}
                  </div>
                {% endif %}
              </div>
            {% endfor %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </aside>
  <article class="md:w-4/5">
    {{ content }}
  </article>
</div>
