<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="./assets/css/main.css">
  </head>
  <body class="bg-charcoal-50 text-charcoal dark:bg-charcoal-950 dark:text-charcoal-100">
    <div class="bg-charcoal-100 dark:bg-black/50">
      <nav class="container lg:mx-auto flex gap-4 px-2 pt-3">
        {% include navigation.html %}
      </nav>
    </div>
    <main class="lg:container px-2 py-4 lg:mx-auto">{{ content }}</main>
  </body>
</html>
