<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href={{"/assets/css/main.css" | relative_url }}>
    
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-PRVD4KMH9C"></script>
    <script>window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}   gtag('js', new Date());   gtag('config', 'G-PRVD4KMH9C');</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
    
    <!-- Tech carbon estimator -->
    <script src={{ "assets/tech-carbon-estimator/polyfills.js" | relative_url }} type="module"></script>
    <script src={{ "assets/tech-carbon-estimator/main.js" | relative_url }} type="module"></script>    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet" />
    <link rel="stylesheet" href={{"/assets/tech-carbon-estimator/styles.css" | relative_url }}>
  </head>
  <body class="bg-gunmetal-50 text-charcoal dark:bg-gunmetal-950 dark:text-charcoal-100">
    <!-- NAVIGATION -->
    <nav class="bg-gunmetal-800 dark:bg-gunmetal-900">
      {% include navigation.html %}
    </nav>

    <!-- MAIN CONTENT -->

    <main class="container min-h-[calc(100vh-214px)] max-w-7xl w-full px-2 py-4 mx-auto font-light prose dark:prose-invert prose-headings:font-light">
      {{ content }}
    </main>

    <!-- FOOTER -->
    <footer class="bg-gunmetal-800 dark:bg-gunmetal-900 text-cambridge-100">
      <div class="container max-w-7xl w-full px-2 py-10 mx-auto">
        {% include footer.html %}
      </div>
    </footer>
  </body>
</html>
